body {
  background-image: url(../image/bkg4.jpg);
}

.jumbotron {
  text-align: center;
}

#menu {
  text-align: center;
  color: gold;
  margin: 8rem;
 }

#pizza1{
  margin: 4rem;
  padding-left: 300px;
}

#pizza2{
  margin: 4rem;
  padding-left: 300px;
}

#pizza3{
  margin: 4rem;
  padding-left: 300px;
}

#pizza4{
  margin: 4rem;
  padding-left: 300px;
}

#pizza5{
  margin: 4rem;
  padding-left: 300px;
}

#pizza6{
  margin: 4rem;
  padding-left: 300px;
}

#pizza7{
  margin: 4rem;
  padding-left: 300px;
}

#pizza8{
  margin: 4rem;
  padding-left: 300px;
}

#pizza9{
  margin: 4rem;
  padding-left: 300px;
}

#pizza10{
  margin: 4rem;
  padding-left: 300px;
}

#pizza11{
  margin: 4rem;
  padding-left: 300px;
}

#pizza12{
  margin: 4rem;
  padding-left: 300px;
}

.container{
  /* margin: 2rem;s */
}