body {
  background-image: url(../image/bkg4.jpg);
}

.color { 
 color: red;
}

.jumbotron {
  text-align: center;
}

#menu {
  background-image: url(../image/bkg5.jpg);
  text-align: center;
  color: rgb(5, 5, 5);
  margin: 3rem;
  width: 1200px;
  height: 100px;
 }

#pizza1{
  margin: 4rem;
  padding-left: 300px;
  text-align: center;
  color: rgb(165, 77, 42);
}


#pizza2{
  margin: 4rem;
  padding-left: 300px;
  color: rgb(199, 199, 4);
}

#pizza3{
  margin: 4rem;
  padding-left: 300px;
  color: darkkhaki;
}

#pizza4{
  margin: 4rem;
  padding-left: 300px;
  color: red;
}

#pizza5{
  margin: 4rem;
  padding-left: 300px;
  color: rgb(126, 126, 30);
}

#pizza6{
  margin: 4rem;
  padding-left: 300px;
  color: brown;
}

#pizza7{
  margin: 4rem;
  padding-left: 300px;
  color: green;
}

#pizza8{
  margin: 4rem;
  padding-left: 300px;
  color: rgb(196, 19, 57)
}

#pizza9{
  margin: 4rem;
  padding-left: 300px;
  color: green;
}

#pizza10{
  margin: 4rem;
  padding-left: 300px;
  color: rgb(202, 119, 11)
}

#pizza11{
  margin: 4rem;
  padding-left: 300px;
  color: rgba(228, 202, 146, 0.959);
}

#pizza12{
  margin: 4rem;
  padding-left: 300px;
  color: rgb(165, 202, 116);
}

#orderhere{
  margin: 4rem;
  text-align: center;
  background-color: rgb(212, 38, 8);
}

#order{
  color:green;
}
#orderbutton{
  text-align: center;
}

#totalamount p {
  text-align: left;
}

#contactus {
  color: white;
}